@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Roboto Mono", monospace;
}
body {
    background-color: #8daf98;
}
.container {
    background-color: #fff;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    /*width: 100%; */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;

}
button:after{
    font-size: 12px;
    content:'Procurar 🧬';
    
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
button:disabled:after {
    content: 'Espere...';
}

button:hover {
    background-color: #0056b3;
}

#content {
    border:2px inset #AAA;
    cursor:text;
    height:120px;
    overflow:scroll;
    width:600px;
    resize:both;
    margin-bottom: 10px;
}
#result span {
    color: red;
    font-weight: bold;
}